<?xml version="1.0"?>
<configuration>
	<appSettings file="local.config">
		<!--!You must define both EncryptionKey and InitilizationVector!-->
		<!--<add key="EncryptionKey" value="144, 98, 211, 88, 112, 51, 36, 252, 154, 2, 83, 252, 47, 8, 43, 7, 198, 247, 152, 101, 187, 141, 44, 72, 244, 54, 193, 77, 210, 211, 100, 87" />
		<add key="InitilizationVector" value="26, 55, 86, 74, 27, 5, 175, 162, 169, 110, 253, 250, 88, 169, 164, 225" />-->

		<!--<add key="WatchDir" value="C:\temp\"/>-->
		<!--<add key="OwnCloudUrl" value=""/>-->

		<add key="NoConfirmUpload" value="false"/>
		<add key="NoconfirmDownload" value="false"/>
		<add key="NoconfirmDelete" value="false"/>
		<add key="RunOnce" value="false"/>
		<add key="DownloadAll" value="false"/>
		<add key="SleepSeconds" value="10"/>

		<!--<add key="UserName" value=""/>-->
		<!--<add key="Password" value=""/>-->
		
	</appSettings>
</configuration>
