<?xml version="1.0"?>
<configuration>
	<appSettings file="local.config">
		<!--<add key="WatchDir" value="C:\temp\"/>-->
		<!--<add key="OwnCloudUrl" value=""/>-->

		<add key="NoConfirmUpload" value="false"/>
		<add key="NoconfirmDownload" value="false"/>
		<add key="NoconfirmDelete" value="false"/>
		<add key="RunOnce" value="false"/>
		<add key="DownloadOnly" value="false"/>
		<add key="SleepSeconds" value="10"/>

		<!--<add key="UserName" value=""/>
		<add key="Password" value=""/>-->

		<!--<add key="EncryptionKey" value="" />
		<add key="InitilizationVector" value="" />-->
		
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
