<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WatchDir" value="C:\temp\"/>
		<add key="OwnCloudUrl" value=""/>

		<add key="NoConfirmUpload" value="false"/>
		<add key="NoconfirmDownload" value="false"/>
		<add key="NoconfirmDelete" value="false"/>
		<add key="RunOnce" value="false"/>
		<add key="MassDownload" value="false"/>
		<add key="SleepSeconds" value="10"/>
		
	</appSettings>
</configuration>